Delta24
*.fasta
*seed*
callgrind*
massif*
profileDb.con
profileDb.pos
profileDb.sum
randomSeed.dat
seq1.fq
seq2.fq
tempfile_0.bin
test.bam
test2.bam
test2.bam.bai
transcript.sh
true-align.sam
true-test.txt
*.o
Delta24.sublime-*
lib/*
*.ebwt
template*
*.out
*.out.bak

